global
    log stdout format raw local0

defaults
    mode http
    log global
    option httplog

    timeout connect 5s
    timeout client 30s
    timeout server 30s

#
# HTTP -> HTTPS
#
frontend http
    bind 0.0.0.0:80
    redirect scheme https code 301 if !{ ssl_fc }

#
# HTTPS Frontend
#
frontend https
    bind 0.0.0.0:443 ssl crt /etc/haproxy/certs/ alpn h2,http/1.1

    # Forward headers
    option forwardfor
    http-request set-header X-Forwarded-Proto https

    # ACL for Haproxy Backends
    acl host_haproxy hdr(host) -i haproxy.svc.local.test
    acl stats_path path -i /stats
    use_backend stats_backend if host_haproxy stats_path
    use_backend nginx_backend if host_haproxy

    # Host ACLs for DNS Backends
    use_backend dnsdist_backend if { hdr(host) -i dnsdist.svc.local.test }
    use_backend pdnsadmin_backend if { hdr(host) -i pdnsadmin.svc.local.test }

    # Host ACLs for Monitoring Backends
    use_backend grafana_backend if { hdr(host) -i grafana.svc.local.test }
    use_backend victoriametrics_backend if { hdr(host) -i victoriametrics.svc.local.test }
    use_backend kafka_backend if { hdr(host) -i kafka.svc.local.test }
    use_backend alertmanager_backend if { hdr(host) -i alertmanater.svc.local.test }
    use_backend rustfs_backend if { hdr(host) -i rustfs.svc.local.test }

    # Default backend for unknown hosts
    default_backend not_found_backend

backend not_found_backend
    http-request return status 404

# ----------------------------------------------------------------------------------------------------
# HAProxy Backends
# ----------------------------------------------------------------------------------------------------
backend stats_backend
    mode http

    stats enable
    stats uri /stats
    stats refresh 5s

    stats auth admin:adminpass

    stats show-legends
    stats show-node
    stats hide-version

backend nginx_backend
    mode http
    server nginx 127.0.0.1:1080 check

# ----------------------------------------------------------------------------------------------------
# DNS Backends
# ----------------------------------------------------------------------------------------------------
backend dnsdist_backend
    mode http
    server local 127.0.0.1:1280 check

backend pdnsadmin_backend
    mode http
    server local 127.0.0.1:9191 check

# ----------------------------------------------------------------------------------------------------
# Monitoring Backends
# ----------------------------------------------------------------------------------------------------
backend grafana_backend
    mode http
    server local 127.0.0.1:3000 check

backend victoriametrics_backend
    mode http
    server local 127.0.0.1:9999 check

backend kafka_backend
    mode http
    server local 127.0.0.1:9090 check

backend alertmanager_backend
    mode http
    server local 127.0.0.1:9093 check

backend rustfs_backend
    mode http
    server local 127.0.0.1:9001 check
# ----------------------------------------------------------------------------------------------------
